body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

:disabled, [disabled], [aria-disabled="true"] {
    width: 10em;
    height: 5em;
    cursor: not-allowed;
    margin: 1em;
}

div {
    display: flex;
    align-items: center;
    margin: 1em;
    padding: 1em;
    background: #f83;
    
    //fallback
    // cursor: url('transparent.gif');
    cursor: none;
}