@mixin folded-corner($background, $size, $angle: 30deg) {
    position: relative;
    background: $background; /* Fallback */
    background:
        linear-gradient($angle - 180deg,
                        transparent $size,
                        $background 0);
    border-radius: .5em;
    
    $x: $size / sin($angle);
    $y: $size / cos($angle);
    
    &::before {
        content: '';
        position: absolute;
        top: 0; right: 0;
        background: linear-gradient(to left bottom,
                                    transparent 50%,
                                    rgba(0,0,0,.2) 0,
                                    rgba(0,0,0,.4))
                                    100% 0 no-repeat;
        width: $y;
        height: $x;
        transform: translateY($y - $x)
        rotate(2*$angle - 90deg);
        transform-origin: bottom right;
        border-bottom-left-radius: inherit;
        box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.2);
    } 
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    height: 12em;
    width: 15em;
    background: #58a;
    margin: 1em;
}

.box1 {
    // the 45 degree solution
    background: 
        linear-gradient(to left bottom,
                        transparent 50%,
                        rgba(0,0,0,.4)0)
                        no-repeat 100% 0 / 2em 2em,
        linear-gradient(-135deg, 
                        transparent 1.4em,
                        #58a 0);
}

.box2 {
    // solutions for other angles
    background: 
        linear-gradient(to left bottom,
                        transparent 50%,
                        rgba(0,0,0,.4)0)
                        no-repeat 100% 0 / 3em 1.73em,
        linear-gradient(-150deg, 
                        transparent 1.5em,
                        #58a 0);
}

.box3 {
    // more realistic solution for other angles
    position: relative;
    background:
        linear-gradient(-150deg,
                        transparent 1.5em,
                        #58a 0);
    border-radius: .5em;
}

.box3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left bottom,
                                 transparent 50%,
                                 rgba(0,0,0,.2) 0, 
                                 rgba(0,0,0,.4))
                                 100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}

.box4 {
    // using a mixin (dosen't 100% work without compass or LESS)
    @include folded-corner(#58a, 2em, 40deg);
}









