body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    height: 15em;
    width: 15em;
    background: gray;
    margin: 2em;
}

.box1 {
    // repetition is obvious
    background: linear-gradient(90deg,
                                #fb3 15%,
                                #655 0,
                                #655 40%,
                                #ab4 0,
                                #ab4 65%,
                                hsl(20, 40%, 90%) 0);
    background-size: 80px 100%;
}

.box2 {
    // background-size to control spacing
    background:  hsl(20, 40%, 90%);
    background-image: linear-gradient(90deg,
                                      #fb3 10px,
                                      transparent 0),
                      linear-gradient(90deg,
                                      #ab4 20px,
                                      transparent 0),
                      linear-gradient(90deg,
                                      #655 20px,
                                      transparent 0);
    background-size: 80px 100%, 60px 100%, 40px 100%;
}

.box3 {
    // using prime numbers
    background:  hsl(20, 40%, 90%);
    background-image: linear-gradient(90deg,
                                      #fb3 11px,
                                      transparent 0),
                      linear-gradient(90deg,
                                      #ab4 23px,
                                      transparent 0),
                      linear-gradient(90deg,
                                      #655 41px,
                                      transparent 0);
    background-size: 41px 100%, 61px 100%, 83px 100%;
}